.prose ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.prose li {
    margin-bottom: 0.5rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của rãnh cuộn */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thanh cuộn */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu khi di chuột qua */
}
```
